body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h2 {
  margin-bottom: 20px;
  font-size: 60px;
}

#timer {
  font-size: 100px;
  font-weight: bold;
}
